@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,500,700');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.header,
.awesome_section {
    background-color: #1F2937;
}

.header {
    color:#F9FAF8;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.links_ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

a, p { 
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.awesome_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:16px;
}

.awesome_left {

}

.awesome_image {
    font-size: 18px;
    color: #E5E7EB;
}

h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

button {
    color: #F9FAF8;
    background-color:#3882F6;
    border-radius: 8px;
    padding: 12px;
    border: none;
}

.information_section {
    padding:16px;
}

.info_container {
    display: flex;
    justify-content: center;
    gap: 38px;
}

.info_title {
    color: #1F2937;
    font-weight: extra-bold;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.info {
    text-align: center
}

.info_image {
    width: 100px;
    height: 100px;
    border: 5px solid #3882F6;
  }

.info_text {
    font-size: 18px;
    color: gray;
}

.quote_section {
    display: flex;
    flex-direction: column;
    gap: 52px;
    background-color: #E5E7EB;
    padding:16px;
    align-items: end;
}

.quote_text {
    font-size: 36px;
    
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote_attribution {
    color: #1F2937;
    font-size: 36px;
}