@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.header,
.awesome_section {
    background-color: #1F2937;
    font-family: "Roboto";
}

.header {
    color:#F9FAF8;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.links_ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}